.container {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background: white;
  padding: 40px;
  .header {
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    position: relative;
    &:before {
      content: "";
      width: 40px;
      height: 2px;
      background: black;
      position: absolute;
      left: 50%;
      margin-left: -20px;
      top: 1.5em;
    }
  }

  .content {
    min-height: 200px;
    margin-top: 40px;
  }
}

.mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
}
